<h2 class="center">Sign up</h2>

<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "col s12"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "validate" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :password %> <br>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

    <%= f.submit class: "btn waves-effect green center" do  %>
      Sign up <i class="material-icons right">send</i>
    <% end %>
  <% end %>
</div>
  <%= render "users/shared/links" %>
